<ul id="toolbox">
	<li><input type="button" id="clear" value="Clear" /></li>
	<li>
		Shape:
		<input type="radio" name="shape" id="rectangle" value="Rectangle" checked="checked" />
		<label for="rectangle">Rectangle</label>
	
		<input type="radio" name="shape" id="ellipse" value="Ellipse" />
		<label for="ellipse">Ellipse</label>
	</li>
	<li>
		Colour:
		<select id="colour">
			<option>Red</option>
			<option>Orange</option>
			<option>Yellow</option>
			<option>Green</option>
			<option>Blue</option>
			<option>Purple</option>
			<option>Brown</option>
		</select>
	</li>
</ul>

<div id="drawing">
	<div id="loading">Loading...</div>
</div>
